body {
  margin: 0px;
}

.preSharedWrapper {

  background: radial-gradient(circle,
        rgb(124, 69, 219) 30%,
        rgb(75, 40, 168) 66%,
        rgb(36, 18, 87) 100%);
  width: 100vw;
  height: 100vh;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.loginWrapper,
.registerWrapper {
  padding: 60px 0px 0px 0px;
  width: inherit;
}

.logoWrapper {
  margin: 0px auto;
  color: rgba(206, 204, 204, 0.664);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    margin: 0px auto;
  }
}

.formLogReg {
  margin: 20px auto 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  .bigButton {
    display: block;
    text-align: center;
    padding: 15px 0px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    width: 300px;
    border-radius: 30px;
    border: 0px;
    
    &:hover {
      box-shadow: 2px 2px 3px rgb(66, 3, 124);
    }
  }

  .selectedBtn {
    background: -webkit-linear-gradient(to right, #f3a73c, hwb(288 30% 11%));
    background: linear-gradient(to right, #f3a73c, hwb(288 30% 11%));
    color: white;
    border: none;

    &:hover {
      box-shadow: 2px 2px 3px rgb(66, 3, 124);
    }
  }

  .notSelectedBtn {
    color: rgb(92, 38, 187);
    background: none;
    background-color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;

    &:hover {
      box-shadow: 2px 2px 3px rgb(66, 3, 124);
    }
  }
}

.formInput {
  display: flex;
  align-items: center;
  color: rgba(206, 204, 204, 0.664);
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid hsla(0, 2%, 80%, 0.664);
  padding: 0px 8px;
  max-width: 280px;

  svg {
    min-height: 40px;
    min-width: 20px;
  }

  input {
    background-color: inherit;
    margin-left: 3px;
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    border: none;
    width: calc(100vw - 120px);
    padding-bottom: 2px;
    outline: none;
  }

  input:placeholder-shown {
    color: rgba(206, 204, 204, 0.664);
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .preSharedWrapper,
  .homePageWrapper {
    background-image: url('../helpers//coins.png'),
      url('../helpers/SimpleBackground.webp');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    background-attachment: fixed;
  }
  .preSharedWrapper {
    box-sizing: border-box;
    padding: 50px 0px 0px 0px;
  }
  .loginWrapper,
  .registerWrapper {
    padding: 20px 0px 20px 0px;
    border-radius: 20px;
    width: 450px;
    margin: 0px auto;
    background-color: rgb(101, 41, 204);
    background-color: radial-gradient(
      circle,
      rgb(124, 69, 219) 40%,
      rgb(75, 40, 168) 76%,
      rgb(36, 18, 87) 100%
    );
  }
}
